.container{
  background-color: #1e90ff85;
  max-width: 100%;
  height: 10rem;
}
.rounded-circle{
  background-color: darkgrey;
}
.flex-column{
  width: 50%;
}
.round{
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: lightgrey;
}
.container-small {
  background-color: white;
}
.one {
    width: 45%;
    height: 20px;
  }
.two {
    width: 65%;
   height: 30px;
  }
.cont-round {

}
