.card{
  border-radius: 2rem;
  width: 18rem;
  height: 18rem;
  margin: 2rem 1rem 1rem 1rem;
}
li div {
  text-align: center;
  padding: 1rem;
}
li div:first-child{
  margin-top: 1rem;
}
p{
  text-align: center;
}
