.card{
  border-radius: 2rem;
  width: 18rem;
  height: 18rem;
  margin: 2rem 1rem 1rem 1rem;
}
li div {
  text-align: center;
  padding: 1rem;
}
p{
  text-align: center;
}
.st-f-subTit{
  color: lightgrey;
  font-size: 1.2rem;
}
.st-f-date{
  color: #1e90ff85;
  font-size: 1.5rem;
}
.st-f-title{
  color: #383d41d1;
  font-size: 1.7rem;
}

