.s-text{
  width: 30rem;
  height: 1rem;
  background-color: darkgrey;
}
h3{
  color:darkgrey;
  font-weight: bold;
}
.cont{
  max-width: 30rem;
}
.p-f-but{
  margin-left: 1rem;
}
button{
  color: white;
  font-weight: bold;
}
.req-but{
  max-width: 6rem;
}
.par-big-but{
  max-width: 10rem;
}
.big-but{
  width: 100%;
}
.req-text{
  color: grey;
}
a{
  text-decoration: none;
  color:white;
  cursor: pointer;
}
